
.hero-bg {
	background-position: top left;
	height: 600px;
	top: 0;
    min-width: 100%;
    width: 100%;

}
.topbar {
	background-color: transparent;
    position: absolute;
    z-index: 1;
}
.btn--topbar {
	border: none;
	color: #fff;
    font-size: 14px;
    font-weight: 200;
    text-transform: capitalize;
    padding: 5px 18px;
}
.btn--topbar:hover {
	color: #3EAE5F;
}
.btn--phone {
    color: #f8bf00;
    font-size: 16px;
    font-weight: 700;
}
.btn--phone:hover { 
	color: #f8af00;
}
.topbar .login {
    border: 1px solid white;
    display: inline-block;
    font-size: 14px;
    font-weight: 200;
    text-transform: capitalize;
	color: #fff;
    margin: 12px 0 12px 11px;
    padding: 7px 24px 7px 22px;
}
.topbar .login:hover,
.topbar .login:active {
    box-shadow: none;
	border-color: #fff;
}
.hero-unit {
	height: 600px;
	margin-top: 0;
}
.search-box--hero-unit {
    width: 472px;
}
.search-box--hero-unit #query {
	padding-right: 177px;
}
.search-box--hero-unit input[type="submit"] {
    background-color: #3EAE5F;
    border-radius: 0 4px 4px 0;
    border: none;
    color: #FFFFFF;	
    font-size: 18px;
    font-weight: 200;
    position: absolute;
    text-transform: capitalize;
    top: 0;
    right: 0;
    height: 60px;
    outline: none;
    padding: 0;
    margin: 0;
    width: 172px;
}
.search-box--hero-unit input[type="submit"]:hover {
    background-color: #5dc57c;
    color: #FFFFFF;	
}
.hero-unit:after {
	background-color: transparent;
}

.custom-block__icon path {
	fill: #3EAE5F;
}
.custom-block__link:active .custom-block__icon path,
.custom-block__link:hover .custom-block__icon path {
	fill: #5dc57c;
}
.custom-block__icon circle {
    stroke: #3EAE5F;
}
.custom-block__link:active .custom-block__icon circle, .custom-block__link:focus .custom-block__icon circle, .custom-block__link:hover .custom-block__icon circle {
	stroke: #5dc57c;
}
.knowledge-base {
	text-align: center;
}
.category-list {
    display: inline-block;
    margin: 0 auto 24px;
    width: auto;
}
.category-list-item {
	border: 1px solid #fff;
    height: 130px;
	padding: 0;
    table-layout: fixed;
	width: 19.5%;
}
.category-list-item__link:active, .category-list-item__link:focus, .category-list-item__link:hover {
	background-color: #5dc57c;
}
.category-tree-item__title,
.promoted-articles__title {
    border-bottom: none;
    color: #33435a;
	font-size: 34px;
    font-weight: 200;
	text-align: center;
}

@media (min-width: 768px) {
	.topbar {
	    margin-bottom: 0;
	}
	.hero-unit {
		margin-top: 0;
	}
	.topbar__col {
	    padding: 16px 0;
	}
	.column--sm-6 {
	    width: 33%;
	}
	.category-tree-item__sections .section:nth-child(2n+1) {
	    clear: none;
	}
}


.powered-by-zendesk {
	width: auto !important;
}